/*Ecomedika order pages (login, customer info, )*/
.success,
.login,
.customer-info {
	margin-bottom: 50px;
}
.success__main,
.login,
.customer-info-physic {
	border: 3px solid rgb( 234, 234, 234 );
	border-radius: 10px;
	margin-bottom: 15px;
}

.success__order-num,
.success__order-summ {
	font-weight: bold;
	
}
.success__main a {
	font-size: 15px;
	color: #0b5e88;
	text-decoration: underline;
	margin-bottom: 15px;
}

/*login*/

.login {
	padding: 40px 65px;
}
.login__nav {
	margin-bottom: 30px;
}
.customer-info-physic input[type="text"],
.customer-info-physic textarea {
	border: 1px solid #ececec;
	border-radius: 3px;
	box-shadow: inset 0px 1px 2px 0px rgba(174, 174, 174, 0.36);
}
.customer__info_switch ul,
.login__nav ul {
	padding: 0;
}
.customer__info_switch ul li,
.login__nav ul li {
	float: left;
	display: inline-block;
}
.customer__info_switch ul li a,
.login__nav ul li a {
	display: inline-block;
	padding: 10px 18px;
	background: linear-gradient(to bottom, #fcfcfc 0%,#f6f6f6 100%);
	border-top: 1px solid #dddddd;
	color: #0b5e88;
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 1, 0.34);
	text-decoration: none;
	text-shadow: 0px 1px 0px rgba(0, 0, 1, 0.27);
}
.customer__info_switch ul li:first-child a,
.login__nav ul li:first-child a {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
.border-right {
	border-right: 1px solid #dddddd;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
.customer__info_switch ul li a:hover,
.login__nav ul li a:hover {
	text-decoration: none;
	
	background: linear-gradient(to bottom, #f6f6f6 0%,#fcfcfc 100%);
}

.customer__info_switch_active,
.login__option_active {
	color: #fff !important;
	text-shadow: 0px 1px 0px rgb( 0, 0, 1 );
	background: linear-gradient(to bottom, #1c6a92 0%,#1888c0 100%) !important;
}

.login input {
	border: 1px solid #ECECEC;
	border-radius: 3px;
	box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 1, 0.34);
}
.login__email {
	margin-bottom: 25px;
}
.login__password input {
	margin-bottom: 5px;
}

.login__continue {
	padding-top: 34px;
	padding-right: 8px;
}
.login__continue a,
.customer__paginator a {
	display: inline-block;
	padding: 7px 0 4px 0;
	color: #FFF;
	text-transform: uppercase;
	font-weight: bold;
	font-family: Roboto, sans-serif;
	text-align: center;
	border-radius: 3px;
	font-size: 13px;
	text-shadow: 0px 1px 0px #000001;
	background: linear-gradient(to bottom, #1888C1 0%,#147CB8 100%);
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.34);
}

.login__continue a img,
.customer__paginator a img {
	margin: -3px 0 0 5px;
}
}

.login__vk {
	background: #f2f6fa;
	margin-top: -23px;
	padding: 20px 55px;
}
.vk-login-btn {
	display: inline-block;
	width: 220px;
	padding-left: 17px;
	height: 35px;
	color: #FFF;
	text-decoration: none;
	line-height: 33px;
	margin-bottom: 25px;
	vertical-align: middle;
	background: url(../img/vk-login-btn.png) no-repeat 0 0;
}
.vk-login-btn:hover {
	background: url(../img/vk-login-btn.png) no-repeat 0 -35px;
	color: #fff;
	text-decoration: underline;
}
.login__vk_notice {
	color: #595959;
	font-size: 11px;
	padding-right: 30px;
}

/* Customer info */


#customer__info_business {
	display: none;
}
.customer-name,
.customer__info_delivery,
.customer__address,
.customer__payment,
.business__payment_info {
	background: #f2f6fa;
	padding: 30px 0px 15px 15px;
}
.customer__info_delivery,
.customer__payment {
	padding-right: 15px;
}
.input__row {
	margin-bottom: 31px;
	padding: 0;
}
.delivery__option label,
.payment__option label {
	border: 1px solid #e4e4e3;
	border-radius: 3px;
	background: #fff;
	margin-bottom: 10px;
	padding: 10px;
}

.business__delivery__address label {
	border: 1px solid #e4e4e3;
	border-radius: 3px;
	background: #fff;
	padding: 10px 10px;
	margin-bottom: 10px;
}
.payment__option label img {
	float: left;
	margin: 3px 5px 0 0;
}

.payment__option input[type="radio"],
.delivery__option input[type="radio"],
.business__address input[type="radio"],
.business__delivery__address input[type="radio"] {
	display:none;
}
.payment__option .custom-radio,
.delivery__option .custom-radio {
	float: left;
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-bottom: 20px;
	margin-top: 2px;
	margin-right: 10px;
	background: url(../img/radiobutton.png) no-repeat center center;
}
.business__address label {
	padding: 5px 0;
}
.business__address .custom-radio,
.business__delivery__address .custom-radio {
	float: left;
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-top: 2px;
	margin-right: 10px;
	background: url(../img/radiobutton.png) no-repeat center center;
}
.delivery__option_name,
.delivery__option_price {
	float: left;
	width: 95%;
}
.payment__option_name,
.payment__option_price {
	float: left;
	width: 85%;
}
.delivery__option_name,
.payment__option_name {
	font-weight: bold;
	font-size: 15px;
}
.delivery__option input[type="radio"]:checked + label .custom-radio,
.payment__option input[type="radio"]:checked + label .custom-radio,
.business__address input[type="radio"]:checked + label .custom-radio,
.business__delivery__address input[type="radio"]:checked + label .custom-radio {
	background: url(../img/radiobutton-selected.png) no-repeat center center;
}
.delivery__option input[type="radio"]:checked + label,
.payment__option input[type="radio"]:checked + label,
.business__delivery__address input[type="radio"]:checked + label {
	border: 3px solid #2396d1;
	padding: 8px;
}

.customer__address textarea {
	max-width: 58.33333333%;
	min-height: 124px;
}

.customer__paginator {
	padding: 30px 0;
}
.customer__paginator .paginator__back {
	color: #595959;
	text-align: center;
	background-image: -moz-linear-gradient( 90deg, rgb(246,246,246) 0%, rgb(255,255,255) 100%);
	background-image: -webkit-linear-gradient( 90deg, #F6F6F6 0%, #FFF 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(246,246,246) 0%, rgb(255,255,255) 100%);
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.34);
}
.customer__paginator .paginator__back img {
	margin: -2px 5px 0 0;
}

/*order contains*/
.order__contains {
	margin-top: 60px;
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.34);
}

.order__contains article {
	min-height: 100px;
	padding: 15px 0 0 0;
}


.order__contains .img-wrapper {
	text-align: center;
	height: inherit;
}
.order__contains_summ {
	padding-top: 15px;
	border-top: 3px solid #C0C0C0;
}
.order__contains_summ .delivery__price {
	text-align: right;
	color: #ee797c;
}
.order__contains_summ .normal-price {
	text-align: right;
}

.business__payment_info .input__row {
	margin-bottom: 21px;
}
.business__payment_info .character__info {
	font-size: 11px;
	color: #747474;
}

/*confirm*/
.confirm__cart-item {
	min-height: 105px;
	border: 1px solid #DDD;
	border-radius: 5px;
	vertical-align: middle;
	padding: 15px 0;
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.34);
}