/*Ecomedika success and login page*/
.success,
.login {
	margin-bottom: 50px;
}
.success__main,
.login {
	border: 3px solid rgb( 234, 234, 234 );
	border-radius: 10px;
	margin-bottom: 15px;
}

.success__order-num,
.success__order-summ {
	font-weight: bold;
	
}
.success__main a {
	font-size: 15px;
	color: #0b5e88;
	text-decoration: underline;
	margin-bottom: 15px;
}


.login {
	padding: 40px 65px;
}
.login__nav {
	margin-bottom: 30px;
}
.login__nav ul {
	padding: 0;
}
.login__nav ul li {
	float: left;
	display: inline-block;
}
.login__nav ul li a {
	display: inline-block;
	padding: 10px 18px;
	background: linear-gradient(to bottom, #fcfcfc 0%,#f6f6f6 100%);
	border-top: 1px solid #dddddd;
	color: #0b5e88;
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 1, 0.34);
	text-decoration: none;
	text-shadow: 0px 1px 0px rgba(0, 0, 1, 0.27);
}
.login__nav ul li:first-child a {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
.border-right {
	border-right: 1px solid #dddddd;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
.login__nav ul li a:hover {
	text-decoration: none;
	
	background: linear-gradient(to bottom, #f6f6f6 0%,#fcfcfc 100%);
}

.login__option_active {
	color: #fff !important;
	text-shadow: 0px 1px 0px rgb( 0, 0, 1 );
	background: linear-gradient(to bottom, #1c6a92 0%,#1888c0 100%) !important;
}

.login input {
	border: 1px solid #ECECEC;
	border-radius: 3px;
	box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 1, 0.34);
}
.login__email {
	margin-bottom: 25px;
}
.login__password input {
	margin-bottom: 5px;
}

.login__continue {
	padding-top: 34px;
	padding-right: 8px;
}
.login__continue a {
	display: inline-block;
	padding: 7px 0 4px 0;
	color: #FFF;
	text-transform: uppercase;
	font-weight: bold;
	font-family: Roboto, sans-serif;
	text-align: center;
	border-radius: 3px;
	font-size: 13px;
	text-shadow: 0px 1px 0px #000001;
	background: linear-gradient(to bottom, #1888C1 0%,#147CB8 100%);
}

.login__continue a img {
	margin: -3px 0 0 5px;
}

.login__vk {
	background: #f2f6fa;
	margin-top: -23px;
	padding: 20px 55px;
}
.vk-login-btn {
	display: inline-block;
	width: 220px;
	padding-left: 17px;
	height: 35px;
	color: #FFF;
	text-decoration: none;
	line-height: 33px;
	margin-bottom: 25px;
	vertical-align: middle;
	background: url(../img/vk-login-btn.png) no-repeat 0 0;
}
.vk-login-btn:hover {
	background: url(../img/vk-login-btn.png) no-repeat 0 -35px;
	color: #fff;
	text-decoration: underline;
}
.login__vk_notice {
	color: #595959;
	font-size: 11px;
	padding-right: 30px;
}

/*confirm*/

.confirm__row {
	display: block;
	margin-bottom: 15px;
}

.success__main .cart__box_header {
	padding: 6px 15px;
}