@import url('https://fonts.googleapis.com/css?family=Space+Mono&display=swap');
@import url('https://necolas.github.io/normalize.css/3.0.2/normalize.css');

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Space Mono', monospace;
	font-size: 1.25rem;
	color: #333;
	background-color: #f8f8f8;
}

img {
	max-width: 100%;
}

/*-------Small reset------*/

h1,
h2,
h3,
h4,
ul,
li,
p {
	padding: 0;
	margin: 0;
}

a:visited,
a:active,
a:focus {
	color: #2000ee;
}
h1 {font-size: 1.5em;}
/*------------------------*/
.dotted {
	border-bottom: 3px dotted #2000ee;
	cursor: pointer;
}

a.dotted {
	text-decoration: none;
}

a.dotted:hover {
	border-bottom: 3px dotted aqua;
}

#projects,
#welcome,
#contact {
	width: 60%;
}

#welcome {
	padding: 6em 0 0 3em;
}

#projects,
#contact {
	padding-left: 3em;
}


header {
	display: block;
	position: fixed;
	z-index: 5;
	width: 100%;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	padding-left: 3em;
	border-bottom: 3px solid #000;
	transition: 0.2s;
	background-color: #f8f8f8;
	font-weight: bold;
}

.navbar ul {
	list-style-type: none;
}

.navbar ul li {
	list-style-type: none;
	display: inline;
	margin-right: 1.5em;
}

.navbar a,
footer a {
	text-decoration: none;
	color: #333;
	font-size: 1.25rem;
	border-bottom: 3px dotted #333;
}

.navbar a:hover,
footer a:hover {
	border-bottom: 3px dotted aqua;
}

.welcome-text {
	font-size: 1.25em;
}

.flex-wrapper {
	display: flex;
}

.projects-column {
	margin-right: 25px;

	display: flex;
	flex-direction: column;
	flex-basis: calc(100% / 3 - 25px);
}

.box {
	width: 100%;
	position: relative;
	margin: 0 0 25px 0;
	border: 3px solid black;
	background-color: #fff;

	display: flex;
	flex-direction: column;
}

.box::after {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 3px;
	left: 3px;
	z-index: -1;
	border: 3px solid black;
	transition: 0.2s all;
}

.box:hover::after {
	background-color: aqua;
}

.box>h3,
.box>h4,
.box>p {
	width: 100%;
	padding: 0.5em;
}

.more-button {
	border-bottom: 3px dotted #333;
	cursor: pointer;
}

#projects h2,
#contact h2 {
	position: relative;
	margin-bottom: 1.5em;
	padding: 2.3em 0 0.3em 0;
}

#projects h2::after,
#contact h2::after {
	content: " ";
	position: absolute;
	width: 8%;
	height: 5px;
	left: 0;
	bottom: 0;
	background: aqua;
}

#contact {
	margin-bottom: 3em;
}

#contact h3 {
	margin-bottom: 0.5em;
}

footer {
	background: #353f47;
	text-align: center;
	padding: 4em 0em;
	color: #fff;
	text-shadow: 0px 2px 3px #333;
}

footer a {
	color: aqua;
}

footer .wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.copy {
	margin-bottom: 3px;
}

@media (max-width: 1300px) {

	#projects,
	#welcome,
	#contact {
		width: 80%;
	}

}

@media (max-width: 1020px) {

	#projects,
	#welcome,
	#contact {
		width: 90%;
	}

}

@media (max-width: 820px) {

	.flex-wrapper {
		flex-direction: column;
	}

	.box img {
		align-self: center;
	}

	.projects-column {
		margin-right: 10px;
		flex-basis: 100%;
	}
}