/* @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700'); */

@import url('https://fonts.googleapis.com/css?family=Space+Mono&display=swap');
@import url('https://necolas.github.io/normalize.css/3.0.2/normalize.css');

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	font-family: 'Space Mono', monospace;
	font-size: 100%;
	color: #333;
}

img {
	max-width: 100%;
}

.clearfix::after {
	display: block;
	content: "";
	clear: both;
}

.flex {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}

/*Small reset*/

h1,h2,h3,h4,ul,li {
	padding: 0;
	margin: 0;
}

.wrapper {
	width: 90%;
	margin: 0 auto;
}

.home-link {
	display: inline-block;
	margin: 0.7em auto;
}

.home-link a {
	font-size: 2em;
}

#navbar {
	background: rgba(71, 82, 89, 0.80);
	display: block;
	padding: 1.5em;
	transition: 0.3s;
	font-size: 1.25em;
	text-align: center;
	font-weight: bold;
}

#navbar ul {
	list-style-type: none; 
}

#navbar ul li {
	list-style-type: none;
	margin-bottom: 0.3em;
}

#navbar a {
	color: #fff;
	text-decoration: none;
}

#navbar a:hover  {
	color: #4bcaff;
}

#welcome-section {
	padding: 7em 2em;
	text-align: center;
	color: #fff;
	background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
	text-shadow: 0px 2px 3px #333;
}

#projects {
	background: #e6e6e6;
}

#projects h2,
#contact h2 {
	padding: 1em 0 0.3em 0;
	position: relative;
}

#projects h2::after,
#contact h2::after {
	content: " ";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 15%;
	height: 3px;
	background: #4bcaff;
}

.projects-box {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	margin-top: 1em;
}

.project-tile {
	background: #fff;
	margin: 1em 0;
	flex: 1 1 auto;
	text-align: center;
	padding: 2em;
	color: #333;
	border-radius: 3px;
	text-decoration: none;
}

.project-tile:hover {
	-webkit-box-shadow: 0px 0px 8px #4bcaff;;
	box-shadow: 0px 0px 8px #4bcaff;;
}

.project-tile img {
	display: block;
	margin: 0 auto;
	border-radius: 3px;
}

.project-tile span {
	display: block;
	margin: 2em 0;
	word-break: break-all;
	font-size: 1.3em;
}

.icons-row {
	margin: 7em auto 0 auto;
	text-align: center;
}

.icon-wrapper {
	padding: 2em;
	margin-right: 0.3em;
	border-radius: 50%;
	width: 30%;
	display: inline-block;
	background: #6b747a;
}

.icon-wrapper:hover {
	background: #333;
	cursor: pointer;
}

.icons-row {
	margin: 2em auto 2em auto;
}

footer {
	background: #353f47;
	text-align: center;
	padding: 4em 0em;
	color: #fff;
	text-shadow: 0px 2px 3px #333;
}

@media screen and (min-width: 800px) {

	.wrapper {
		width: 70%;
		margin: 0 auto;
	}

	.home-link {
		width: 25%;
		float: left;
		margin: 0;
	}

	.home-link a {
		font-size: 100%;
	}

	#navbar {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 1;
		padding: 2em 5em;
		text-align: left;
		text-shadow: 0px 2px 3px #333;
	}

	.menu {
		width: 70%;
		float: right;
		text-align: right;
	}

	#navbar ul li {
		margin: 0 0.5em 0 0;
		display: inline-block;
	}

	#navbar a {
		color: #fff;
	}

	#welcome-section {
		height: 100vh;
		width: 100%;
		padding: 2em;
		position: relative;
	}

	.vert-center {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
	}

	#projects,
	#contact {
		padding: 5em 0;
	}

	.projects-box {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-wrap: nowrap;
		margin-top: 0em;
	}

	.project-tile {
		margin: 1em;
	}

	#projects h2,
	#contact h2 {
		padding: 1.5em 0 0.3em 0;
		margin-bottom: 2em;
	}

	#projects h2::after,
	#contact h2::after {
		width: 4%;
	}

	.icons-row {
		margin: 7em auto 0 auto;
		text-align: center;
	}
}

